div.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: box1;
    animation-duration: 4s;
}

@keyframes box1 {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

div.box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: box2;
    animation-duration: 4s;
}

@keyframes box2 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

div.box3 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: box2;
    animation-duration: 4s;
}

div.box4 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: box2;
    animation-duration: 4s;
    animation-delay: 2s;
    /* animation-delay: -2s; */
}

div.box5 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: box2;
    animation-duration: 4s;
    animation-iteration-count: 3;
    /* animation-iteration-count: infinite; */
}

div.box6 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: box2;
    animation-duration: 4s;
    /* animation-direction: reverse; */
    animation-direction: alternate;
    /* animation-direction: alternate-reverse; */
    /* animation-timing-function: ease-in-out; */
    animation-timing-function: linear;
}